*{
    margin:0;
    padding:0;
}
#tituloheader{
    text-align: center;
    
}

#logousm{
    height: 100px;
   width: 100px;
   float: left;

}

#elo{
    width: 100%;
    height: auto;
}

.card{
    justify-content: center;
    margin: 10px;
}

#logo{
    width: 100%;
    height: 300px;
}

