{% extends 'miapp/base.html' %}
{% load static %}
{% block content %}

<img src="{% static 'miapp/img/logo-usm-informatica.png' %}" alt="">
{% if total_comunicados == 0 %}
<div class="alert alert-warning" role="alert">
No hay comunicados
</div>
{% else %}

<div class="alert alert-success" role="alert">
    Hay {{total_comunicados}} comunicados.
</div>
<div>


{% for comunicado in comunicados %}

<div class="card" style="padding: 5%;">
  <div class="card-body">
    <h5 class="card-title">{{comunicado.titulo}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{comunicado.publicado_por}}</h6>
    <p class="card-text">{{comunicado.detalle}}</p>
  </div>
</div>

{% endfor %}

{% endif %}





{% endblock content %}