{% extends 'miapp/base.html' %}
{% load static %}
{% block content %}

<img id="logo" src="{% static 'miapp/img/logo-usm-informatica.png' %}" alt="">
{% if total_comunicados == 0 %}
<div class="alert alert-warning" role="alert">
No hay comunicados
</div>
{% else %}

<div class="alert alert-success" role="alert">
    Hay {{total_comunicados}} comunicados.
</div>
<div>


<div class = "container">
  <div class = "row">
  {% for comunicado in comunicados %}
  <div class="col-md-4 col-sm-12">
    <div class="card" style="margin: 10px;">
      <div class="card-body">
        <h5 class="card-title">{{comunicado.titulo}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{comunicado.entidad}}</h6>
        <p class="card-text">{{comunicado.detalle}}</p>
        <li class="list-group-item">{{comunicado.publicado_por}}</li>

      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  </div>

{% endif %}





{% endblock content %}