{% load static %}
<header>
  <img src="{% static 'miapp/img/Logo_UTFSM.png' %}" alt="" id="logousm">
  <h1 id="tituloheader">Sistema integrado de Notificaciones</h1>
</header>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid, nav">
    <a class="navbar-brand" href="{% url 'comunicados' %}">Inicio</a>
    <a class="navbar-brand" href="{% url 'admin:index' %}"">Administración</a>
    <a class="navbar-brand" href="{% url 'informatica' %}"">Informatica</a>
    <a class="navbar-brand" href="{% url 'electronica' %}"">Electronica</a>
    <a class="navbar-brand" href="{% url 'mecanica' %}"">Mecanica</a>
  </div>
</nav>

<div class="container">
<select name="dep" id="dep">
  <option selected value ="" disabled = "">Departamento</option>
  {% for entidad in entidades %}
  <option value="{{entidad.entidad}}">{{entidad.entidad}}</option>
  {% endfor %}
</select>
</div>





