{% load static %}
<header>
  <img src="{% static 'miapp/img/Logo_UTFSM.png' %}" alt="" id="logousm">
  <h1 id="tituloheader">Sistema integrado de Notificaciones</h1>
</header>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid, nav">
    <a class="navbar-brand" href="{% url 'comunicados' %}">Inicio</a>
    <a class="navbar-brand" href="{% url 'admin:index' %}"">Administración</a>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Departamento
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
      </ul>
    </div>
  </div>
</nav>
<form action="procesar_formulario.php" method="post">
  <label for="opciones">Entidad:</label>
  <select name="opciones" id="opciones">
    {% for entidad in entidades %}
      <option value={{entidad.nombre}}>{{entidad.nombre}}</option>
    {% endfor %}
  </select>

  <br>
</form>



