{% load static %}
<header>
  <img src="{% static 'miapp/img/Logo_UTFSM.png' %}" alt="" id="logousm">
  <h1 id="tituloheader">Sistema integrado de Notificaciones</h1>
</header>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid, nav">
    <a class="navbar-brand" href="{% url 'comunicados' %}">Inicio</a>
    <a class="navbar-brand" href="{% url 'admin:index' %}"">Administración</a>
    <a class="navbar-brand" href="{% url 'informatica' %}"">Informatica</a>
    <a class="navbar-brand" href="{% url 'electronica' %}"">Electronica</a>
    <a class="navbar-brand" href="{% url 'mecanica' %}"">Mecanica</a>
  </div>
</nav>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<div class="container mt-5">
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Selecciona una opción
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'informatica' %}">Opción 1</a>
          <a class="dropdown-item" href="{% url 'electronica' %}">Opción 2</a>
          <a class="dropdown-item" href="{% url 'mecanica' %}">Opción 3</a>
      </div>
  </div>
</div>





